<section id="portfolio-detail-section" class="portfolio home-section light-gray">
  <br/><br/><br/><br/>
    <div class="container">
    <div class="section-header">
          <h2>Beschermde onderdelen van
          <i>Het Freule Huuske</i>
        </h2>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/11.jpg">
          <mat-card-content>
            <h5>
              <strong>
                Het pand uit 1684 vanaf de straat zoals oorspronkelijk geregistreerd bij Rijksmonumenten</strong>
            </h5>
            <p>
Het voorste deel is nu in het bezit van de zoon van Imca Marina. Het is in de loop der eeuwen afwisselend een geheel geweest, dan weer gedeeltelijk gescheiden.
Tot 1990 is het deel dat nu Vermaningspad 8 is, als tweede woning in bezit geweest van Barones van Heeckeren. Willem Hofker heeft het van haar gekocht en een extra tussenmuur geplaatst.

            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/12.jpg">
          <mat-card-content>
            <h5>
              <strong>
                Vanaf de zuidzijde met voorhuis (opkamer) en achterhuis
                Het jaartal (muurankers) op de muur
              </strong>
            </h5>
            <p>
              Zowel voorhuis (opkamer) als achterhuis bestonden uit een gecombineerde woon/slaapkamer, zoals nu nog te zien is in het voorhuis.
              (zie opmerking bij bedstee). Oorspronkelijk was er een keukentje onder de opkamer. Aan de hoogte van de plafonds
              en deuren, en de lengte van de bedstee (1.70 m) , kan men zien dat men vroeger kleiner was. Vooral het voorhuis
              is nog helemaal zoals het vroeger was, incl. een stahoogte van 180 cm.<br/>
              Het jaartal op de muur is origineel uit 1684, het heeft een functie als muuranker.
              <br/>Zie
              <a href="https://nl.wikipedia.org/wiki/Muuranker">Wikipedia over muurankers</a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
<!--Maksim: alleen 1 van de twee fotos(13.jpg) klaar! -->
          <img mat-card-image src="assets/website/13.edited.jpg">
          <mat-card-content>
            <h5>
              <strong>
                Het fundament met Kloostermoppen
              </strong>
            </h5>
            <p>
              De fundering is op zand opgetrokken. Niet te zien op deze foto maar de onderste stenen van de buitenmuren zijn zogenaamde kloostermoppen. Dit waren in 1684 exclusieve bakstenen. Zijn andere panden op Ameland daar ook mee gebouwd?
              <br/>Zie
              <a href=" https://nl.wikipedia.org/wiki/Kloostermop">Wikipedia over de kloostermop</a>

            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">

      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
 <!--Masim:maak van deze 4 foto's 1 compact geheel klaar! -->
          <img mat-card-image src="assets/website/21.edited.jpg">

          <mat-card-content>
            <h5>
              <strong>
                De binnendeuren kozijnen zijn origineel. De deuren (17-de eeuw) zijn met zeer veel moeite gerenoveerd. Het glas in de deur links boven is ook zeer oud, mogelijkerwijs zelfs uit 1684. Het heeft heel veel zorgzaamheid gekost om dit glas ongeschonden door de renovatie te loodsen.
              </strong>
            </h5>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
<!--Maksm : alleen de laatste foto(22.jpg) klaar! -->
          <img mat-card-image src="assets/website/22.edited.jpg" alt="foto mist">

          <mat-card-content>
            <h5>
              <strong>
                De bedstede (origineel 1684), met deuren uit de 17-de eeuw</strong>
            </h5>
            <ul>
              <li>Door lichaamswarmte bleef het s'nachts een beetje warmer. De deur bleef wel op een kier.</li>
              <li>overdag de deuren dicht en je kan de kamer als woonkamer gebruiken.</li>
            </ul>

          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/23.jpg">
          <mat-card-content>
            <h5>
              <strong>
                de schoorsteen is tijdens renovatie een amelander schouw geworden
              </strong>
            </h5>
            <p>
              Met de originele tegeltjes uit 1684 uit Harlingen.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">

      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/31.jpg">
          <mat-card-content>
            <h5>
              <strong>
                De honderden tegeltjes
              </strong>
            </h5>
            <p>Deze zijn afkomstig uit Harlingen
              <a href="https://harlinger.nl/">Zie Harlinger aardewerk & tegels sinds 1598</a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/32.jpg">
          <mat-card-content>
            <h5>
              <strong>
                De estrikken
              </strong>
              <p>Deze originele estrikken zijn ook afkomstig uit Harlingen
                <a href="https://harlinger.nl/">Zie Harlinger aardewerk & tegels sinds 1598</a>


              </p>
            </h5>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/33.jpg">
          <mat-card-content>
            <h5>
              <strong>
                De schouw in de opkamer
              </strong>
            </h5>
            <p>
            Deze schouw is orgineel maar tijdens renovatie aangevuld met originele tegels uit 1684 die elders over bleven.
            </p>
            <h5>
              <strong>
                De kleurstelling
              </strong>
            </h5>
            <p>
              Bij de renovatie is erg veel aandacht besteed om de originele kleuren te herstellen.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/41.jpg">
          <mat-card-content>
            <h5>
              <strong>
                Het spekhok
              </strong>
            </h5>
            <p>
              Gebruikt voor het roken van spek. Zoals het was in 1983.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/42.jpg">
          <mat-card-content>
            <h5>
              <strong>
                De erfafscheiding met walviskaken
              </strong>
            </h5>
            <p>
              Het Freule Huuske is door een commandeur op de walvisvaart gemaakt. Waarschijnlijk hadden ze walviskaken in overvloed. Dus
              waarom dan niet gebruiken voor de erfafscheiding. We hebben ze kunnen redden door ze te impregneren.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
      <!--    <img mat-card-image src="assets/website/43.jpg" alt="de waterput is hard toe aan renovatie">-->
          <mat-card-content>
            <h5>
              <strong>
                De waterput  is hard toe aan renovatie, foto komt na renovatie
              </strong>
            </h5>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
