<section id="intro-section" class="intro intro-section light-gray">
  <br/><br/><br/><br/>

  <div class="container">
    <div class="section-header">
      <h2>Vereniging
        <i>Het Freule Huuske</i>
      </h2>
      <p>De vereniging "Het Freule Huuske" is opgericht naar aanleiding van de ervaring die de familie Hofker heeft opgedaan
        met het monument "Het Freule Huuske" vanaf de aankoop in 1983 (zie foto). Aan de ene kant is het een genot om zo'n
        pand van een totaal vervallen staat tot iets heel moois te restaureren, en er daarna van te genieten. Maar er is
        een keerzijde: zo'n monument is een continue bron van zorg.
      </p>
      <ul>
        <li>Bouwkundige problemen: een pand uit 1684 is totaal anders dan een moderne woning.</li>
        <li>Financiering : renovatie en onderhoud is duur , en soms is dure, specialistische hulp nodig want de huidige standaardoplossingen
          zijn vaak niet toepasbaar.
        </li>
        <li>Regelgeving: Wat wel en niet mag omdat je woning een rijksmonument is.</li>
        <li>Gemeentelijke bestemmingsplannen : Waarbij de gemeente vaak geen tijd heeft om mee te denken met jouw probleem</li>
        <li>Verhuur van een Rijksmonument is een moeilijke zaak. Juridische gezien is de verhuurder aansprakelijk voor zaken
          als lekkage, schimmel e.d.. Maar de verhuurder is ook verplicht , wegens de inschrijving als Rijksmonument, het
          karakter van het huis niet aan te tasten. Dit leidt dan tot of een zeer dure renovatie indien dat mogelijk is,
          of tot een huurcontract waarbij de huurbescherming gedeeltelijk buiten werking gesteld moet worden, wat een bron
          van juridische conflicten kan worden, bovenop de al aanwezige zorgen een extra zorg.
        </li>
      </ul>
      <p>
        Buitenstaanders zien alleen de buitenkant, een mooi gerestaureerd pand, maar eigenaren van RijksMonumenten lopen vroeg of
        laat tegen bovengenoemde problemen aan,en kunnen in een behoorlijke spagaat verzeild raken. Om deze reden heeft Familie
        Hofker besloten deze website op te zetten en een vereniging op te richten waarbij we kennis met elkaar kunnen delen,
        mogelijk sterker staan in moeilijke situaties maar ook meer gestuctureerd met gemeentes kunnen overleggen hoe bepaalde
        problemen in samenspraak opgelost kunnen worden.
      </p>
    </div>
  </div>
</section>
