<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="45" class="footer-box">
          <h4 class="footer-box-title">
            <b>Over ons</b>
          </h4>
          <p>Vereniging het Freule Huuske is op dit moment in oprichting.</p>
          <button mat-raised-button color="accent">Meem contact met ons op</button>
        </div>
        <div fxFlex="35" class="footer-box">
          <h4 class="footer-box-title">
            <b>Contact</b>
          </h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine>
                <b>Email</b>
              </h5>
              <p matLine>hetfreulehuuske@gmail.com</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">location_on</mat-icon>
              <h5 matLine>
                <b>Adres</b>
              </h5>
              <p matLine>Vermaningspad 8</p>
              <p matLine>9163 JD Nes, Ameland</p>
            </mat-list-item>
          </mat-list>
        </div>

        <div fxFlex="20" class="footer-box">
          <h4 class="footer-box-title">
            <b>Disclaimer - Vrijwaring</b>
          </h4>
          <p>Ondanks de zorg en aandacht die wij besteden aan de samenstelling van deze site en de daarin opgenomen
            gegevens, kan vereniging het Freule Huuske niet instaan voor de volledigheid, juistheid of voortdurende actualiteit van de gegevens en de inhoud van de
            site.</p>
          <div class="socials pt-1">
            <ul>
              <li>
                <a href="" class="social-icon linkedin"></a>
              </li>
              <li>
                <a href="" class="social-icon twitter"></a>
              </li>
              <li>
                <a href="" class="social-icon facebook"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
