<section id="subheader-section" class="home-subheader-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="150">
      <h1 class="home-intro-title">Vereniging <i>Het Freule Huuske</i></h1>
      <div class="home-intro-desc">
        Voor behoud van karakteristiek Ameland
        <h3>aan deze website wordt gewerkt, ook de vereniging is "in oprichting", gemeente en anderen worden uitgenodigd mee te doen </h3>

      </div>

    </div>
    <span fxFlex.lt-md="130px" fxFlex="0"></span>
    <div fxFlex="50">
      <div class="intro-product">
        <a matRipple class="intro-product-link" href="https://themeforest.net/item/egret-angular-4-material-design-admin-template/20161805?ref=mh_rafi"
          target="_blank">
          <div class="price-text">Zet u in voor karakteristiek Ameland</div>
          <span class="price-text">Wordt lid van de vereniging</span>
        </a>
      </div>
    </div>
  </div>
</section>
