<section id="portfolio-fotoalbum-section" class="portfolio home-section light-gray">
  <br/><br/><br/><br/>
  <div class="container">
    <div class="section-header">
      <h1>Het fotoalbum gemaakt bij de renovatie 1983-1990</h1>
        <br/>
        <p>De heer W.K. Hofker heeft een fotoalbum gemaakt met een verslag van zaken zoals hij het
          <i>Het Freule Huuske</i> in de jaren '80 aantrof en een aantal ervaringen opgedaan tijdens van de restauratie.</p>
        <br/>
        <h1>
        <a href='https://photos.google.com/share/AF1QipPWeiPpoRJ0S0O4-4CJNoxH5FFQbWSjuZHvQ0aVgOPfC9Qw5Oeif01OXKfcddpptQ/photo/AF1QipPfSjx3_YPQpAM-7pANkfClKXrHT6i_cmbE-wM?key=SjNTeVpmd2NRR1pad0dVRTVZb3FIZ2d4WlJLeWx3'>Klik hier voor een diavoorstelling
        </a>
        </h1>

    </div>

  </div>
</section>
