<section id="portfolio-section" class="portfolio home-section light-gray">
  <br/><br/><br/><br/>
  <div class="container">
    <div class="section-header">
        <h2>De ervaringen met de gemeente Ameland , we hopen vurig op verbetering
         </h2>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/01.jpg">
          <mat-card-content>
            

         </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/02.jpg">
          <mat-card-content>
            <h5>
              <strong>
                <a href="">De restauratie</a>
              </strong>
            </h5>
            <p>Ja en toen kwam het besef waarom er geen andere kopers waren.Het was vele jaren afzien. Je wordt gedwongen je
              aan allerlei regels te houden, en het is niet alleen handwerk, ook heel veel bureaucratie voor vergunningen
              en subsidies. Was het niet beter geweest alles plat te gooien en een mooie villa neer te zetten. Bedstee eruit,
              spekhok weg, die gekke lage deuropeningen vergroten. De vloeren goed isoleren etc. etc.. Nee het moest van
              ouders Hofker allemaal gerestaureerd zoals het in 1684 was.
            </p>
            <mat-divider class="mb-1"></mat-divider>
             <div>
                <button mat-button  scrollTo="portfolio-fotoalbum-section">
                  <strong>Zie fotoalbum van Willem Hofker van de restauratie</strong>
                </button>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/website/03.jpg">
          <mat-card-content>
            <h5>
              <strong>
                <a href="">Het resultaat in 1990</a>
              </strong>
            </h5>
            <p>
              Ja en voor dit doe je het.Een prachtig gezicht. Ook het dak helemaal origineel.Maar vergis je niet. Eeen hardnekkige lekkage
              doet zich voor.Experts van vaste wal erbij...Anno 2018 komt het nog steeds terug, we blijven leren , we denken
              nu te weten waarom op bepaalde plekken nog steeds, of weer , lekkage optreedt. En dat zeeklimaat.... dat moet
              toch in 1684 ook al extra onderhoud zijn geweest (???)
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <div>
              <a href="http://www.husenhiem.nl/">
                <strong class="text-muted">Meer weten</strong>
              </a>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</section>
