<section id="contact-section" class="home-section light-gray">
  <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="container">
    <div class="section-header">
      <h2>Stuur ons een email</h2>
      <p>U kunt met ons contact opnemen per email. Zie email adres hieronder</p>
      <p>Op 23 februari is er om 13.30 uur op Vermaningspad 6, Nes Ameland een oprichtingsvergadering. Iedereen is van harte welkom om bij een lekker kop koffie van gedachten te wisselen over o.a. het behoud van karakteristiek Ameland</p>
    </div>
</div>
</section>
