<section id="service-section" class="home-section">
  <br/><br/><br/><br/><br/>
  <div class="container">
    <div class="section-header">
      <h2>Organisaties voor Rijksmonumenten</h2>
      <p>Als eigenaar van een Rijksmonument heeft u te maken met een aantal instanties
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>dashboard</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Rijksdienst voor Cultureel Erfgoed</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">
Hier staat uw monument als gebouw geregistreerd. Zij kunnen u vertellen wat wel en niet mag en kan. Ook kunnen zij subsidie geven voor restauratie en onderhoud.            </p>
            <span fxFlex="40px"></span>
            <div>
              <a href="https://cultureelerfgoed.nl/">
                <strong class="text-muted">Naar de website</strong>
              </a>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>perm_data_setting</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Vereniging Hendrick de Keijser</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Deze vereniging beheerd vele monumenten en kan u goed advies geven.
            </p>
            <span fxFlex="40px"></span>
            <div>
              <a href="https://www.hendrickdekeyser.nl/">
                <strong class="text-muted">Naar de website</strong>
              </a>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>storage</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Erfgoedvereniging Heemschut</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description"> Deze vereniging kunt u en anderen inropen als u ziet dat een monument tenonder dreigt te gaan door , onterecht verleende sloopvergunningen e.d.. Dit is de instantie om een gemeente te wijzen op hun plicht karakteristiek Nederland te behouden.</p>
            <span fxFlex="40px"></span>
            <div>
              <a href="https://www.heemschut.nl">
                <strong class="text-muted">Naar de website</strong>
              </a>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>stay_primary_portrait</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Hûs en Hiem</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Deze friese organisatie kan ingeroepen worden door gemeenten, als gemeenten deskundigen nodig hebben op het gebied van rijksmonumenten. Gemeente Ameland zou er gebruik van moeten maken, maar ze doen dit niet (wegens geld gebrek?).</p>
            <span fxFlex="40px"></span>
            <div>
              <a href="http://www.husenhiem.nl/">
                <strong class="text-muted">Naar de website</strong>
              </a>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
